body { 
	max-width: 800px;
	margin: 0 auto !important; 
	float: none !important; 
    font-family: 'Bebas Neue', cursive;
    background-color: #6666ff;
    background-attachment: fixed;
    background-image: url(blue-party.jpg);
    background-size: cover;
    background-position: center center;
  }


.wrapper {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255, 0.6);
    margin-bottom: 2vh;
    color: #000000;

}
.callout .highlight {
    background: #66ff66;
    margin-bottom: 10px;
    margin-top: 0px;
    text-decoration: cursive;
    color: #ffffff;
    min-width: 60%;
    padding: 48px;
}

  .wrapper .wrapper {
    background: none;
  }  
.wrapper > * {
    color: #000000;
    border-radius: 3px;
    flex: 1;
    display: flex;
    
    align-items: center;
    justify-content: center;
  }

.wrapper > h1 {
    font-size: 2.5rem;
}
.wrapper > h1 .large {
  font-size: 4.5rem;
}
.wrapper > h2 {
    font-size: 3.5rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.wrapper > h2.section-header {
  font-size: 2.0rem;
  margin-bottom: 0px;
}

.wrapper > h3, .wrapper > p {
    font-size: 1.8rem;
    margin: 2px 0px;
    padding: 0px;
}

.wrapper > p.footer {
  min-width: 60%;
  font-style: italic;
}

.wrapper strong {
  color: #000099;
}

h1, h2, h3 {
    text-transform: uppercase;
}

.form-wrapper {
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
    width: 100%;
    font-size: 2.0rem;
  }

  .form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
  }
  .form-row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
  }
  .form-row > input,  .form-row select,  .form-row > span {
    flex: 3;
  }

  
  .form-row > input,
  .form-row > select  ,
  .form-row > button  {
    padding: .5em;
    font-size: 2.0rem;
  }

input[type=checkbox], input[type=radio] {
  width : 2.5rem;
  height : 2.5rem;
}

  .form-row button {
   background: #666666;
   border: 2px solid black;
   color: white;
  }




.button {
    border
}