body { 
	max-width: 1080px; 
	margin: 0 auto !important; 
	float: none !important; 
  font-family: 'Bebas Neue', cursive;
    background-image: url("background.png");
    background-attachment: fixed; 
    background-size: cover;
    background-position: center center;
  }


.wrapper {
    display: flex;
    flex-direction: column;
    background: rgb(211, 211, 211, 0.6);
    margin-bottom: 10vh;
  }
  .highlight {
    border: 10px solid yellow;

  }
.wrapper > * {
    
    color: white;
    margin: .1em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
    display: flex;
    
    align-items: center;
    justify-content: center;
  }

.wrapper > h1 {
    font-size: 2.5rem;
}
.wrapper > h1 .large {
  font-size: 4.5rem;
}
.wrapper > h2 {
    font-size: 1.5rem;
}
.wrapper > h3 {
    font-size: 0.7rem;
}

h1, h2, h3 {
    text-transform: uppercase;
}

.form-wrapper {
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
    width: 100%;
    font-size: 2.0rem;
  }

  .form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
  }
  .form-row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
  }
  .form-row > input,  .form-row select,  .form-row > span {
    flex: 3;
  }

  
  .form-row > input,
  .form-row > select  ,
  .form-row > button  {
    padding: .5em;
    font-size: 2.0rem;
  }

input[type=checkbox] {
  width : 2.5rem;
  height : 2.5rem;
}

  .form-row button {
   background: #666666;
   border: 2px solid black;
   color: white;
  }



