body { 

    /*font-family: 'Bebas Neue', cursive;*/
    font-family: 'Work Sans', sans-serif;
    background-color: #6666ff;
    background-attachment: fixed;
    background-image: url(blue-party.jpg);
    background-size: cover;
    background-position: center center;
    font-size: 2vh;
  }


.centered-content {
    max-width: 800px;
	margin: 0 auto !important;
	float: none !important;
}

.content-block {
    width: 100%;
    background: rgb(255, 255, 255, 0.6);
    margin-bottom: 4vh;
    color: #000000;
    text-align: center;
    padding: 8px 4px;

}

.content-block * {
    text-align: center;

}

.callout {
    border: 6px solid #ffffff;
    margin: 1vh 0;
}

.highlight {
    /*4296d1*/
    background: rgb(66, 150, 224, 0.9);
    margin-top: 0;
    color: #ffffff;
    min-width: 60%;
    padding: 2vh;
    font-family: 'Tangerine', cursive;
    letter-spacing: .3rem;
}

.cta {
    /*  background-color: #66ff66;  */
    background: rgb(66, 150, 209, 1.0);
    margin-top: 0;
    color: #ffffff;
    min-width: 60%;
    font-family: 'Bebas Neue', cursive;
    border: 8px  solid #4296d1;
    border-radius: 6px;
    box-shadow: 4px 4px #cccccc;
}
.section-block {
  display: flex;
  flex-wrap: nowrap;
}

.section-block h4 {
  width: 100%;
}


.section-block section {
    width: 48%;
  margin: 0 2%;
  text-align: center;
  border: 2px solid #ffffff;
}

section ul {
    padding-left: 0px;
}

section ul li {
    list-style-type: none;
}

h1 {
    font-size: 4vh;
}

h2 {
    font-size: 3.5vh;
}

h3 {
    font-size: 3vh;
}

h3 .smaller {
    font-size: 1.8vh;
}

h4 {
    font-size: 2vh;
}


h1, h2, h3, h4 {
    margin: 0px 0px;
    padding: 0px 0px;
}



